
body, body * {
  vertical-align: baseline;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 9pt;
  font-weight: 700;
  color: #ecac06;
}

.container {
  position: absolute;
  width: 320px;
  height: 50px;
  top: 0;
  left: 0;
  z-index: 100;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
  /*top: 240px;*/
  /*left: 600px;*/
  background-color: #3c1400;
  background-image: url("bg01.jpg");
  background-size: cover;
}

img {
  width: 100%;
  height: auto;
}


.el {
  position: absolute;
  /*width: 60px;*/
  left: 0;
  top: 0;
}


#txt01 {
  width: 177px;
  left: 14px;
  top: 2px;
}

#txt02 {
  width: 170px;
  left: 15px;
  top: 19px;
}

#txt03 {
  width: 153px;
  left: 82px;
  top: -1px;
}

#txt04 {
  width: 158px;
  left: 78px;
  top: 20px;

}


#legal {
  width: 457px;
  left: 134px;
  top: 41px;
}

#bg02 {
  width: 320px;
  height: 50px;
  background-color: #3c1400;
}




#bg03 {
  width: 320px;
  height: 50px;
  top: 0;
  left: 0;
  background-color: #3c1400;
}

#laptop {
  width: 68px;
  left: 246px;
  top: -2px;
}
#phone {
  width: 27px;
  left: 243px;
  top: 8px;
}
#ears {
  width: 24px;
  left: 11px;
  top: 10px;
}
#tablet {
  width: 44px;
  left: 25px;
  top: 1px;
}



#schirm {
  position: absolute;
  width: 320px;
  height: 50px;
  top: 0;
  left: 0;
  background-color: #3c1400;
  /*background-image: url("bg01.jpg");*/
  background-size: cover;
  opacity: 0;
}