
body, body * {
  vertical-align: baseline;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 9pt;
  font-weight: 700;
  color: #ecac06;
}

.container {
  position: absolute;
  width: 300px;
  height: 600px;
  top: 0;
  left: 0;
  z-index: 100;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
  /*top: 300px;*/
  /*left: 600px;*/
  background-color: #3c1400;
  background-image: url("bg01.jpg");
  background-size: cover;
}

img {
  width: 100%;
  height: auto;
}


.el {
  position: absolute;
  /*width: 60px;*/
  left: 0;
  top: 0;
}

.txt {
  width: 300px;
  left: 0px;
  top: 0px;
}

#txt01 {

}

#txt02 {

}

#logo {
  width: 172px;
  left: 21px;
  top: 125px;
}

#bg02 {
  width: 300px;
  height: 600px;
  background-color: #3c1400;
}


#game01 {
  width: 138px;
  left: 81px;
  top: 86px;
}
#game02 {
  width: 153px;
  left: 73px;
  top: 249px;
}
#game03 {
  width: 151px;
  left: 85px;
  top: 412px;
}

#bg03 {
  width: 300px;
  height: 600px;
  top: 0;
  left: 0;
  background-color: #3c1400;
}

#laptop {
  width: 285px;
  left: 3px;
  top: 222px;
}
#phone {
  width: 105px;
  left: 33px;
  top: 356px;
}
#ears {
  width: 84px;
  left: 33px;
  top: 191px;
}
#tablet {
  width: 139px;
  left: 140px;
  top: 401px;
}

#link {
  width: 264px;
  height: 60px;
  left: 17px;
  top: 510px;
  background: #e51b24;
  border-radius: 14px;
  box-shadow: 4px 4px 0 0  #a6141a; 
}

#schirm {
  position: absolute;
  width: 300px;
  height: 600px;
  top: 0;
  left: 0;
  background-color: #3c1400;
  /*background-image: url("bg01.jpg");*/
  background-size: cover;
  opacity: 0;
}