
body, body * {
  vertical-align: baseline;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 9pt;
  font-weight: 700;
  color: #ecac06;
}

.container {
  position: absolute;
  width: 320px;
  height: 50px;
  top: 0;
  left: 0;
  z-index: 100;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
  /*top: 240px;*/
  /*left: 600px;*/
  background-color: #3c1400;
  background-image: url("bg01.jpg");
  background-size: cover;
}

img {
  width: 100%;
  height: auto;
}


.el {
  position: absolute;
  /*width: 60px;*/
  left: 0;
  top: 0;
}


#txt01 {
  width: 145px;
  left: 4px;
  top: 12px;
}

#txt02 {
  width: 140px;
  left: 100px;
  top: 12px;
}

#txt03 {
  width: 182px;
  left: 70px;
  top: 2px;
}

#txt04 {
  width: 129px;
  left: 96px;
  top: 23px;

}


#legal {
  width: 457px;
  left: 134px;
  top: 41px;
}

#bg02 {
  width: 320px;
  height: 50px;
  background-color: #3c1400;
}




#bg03 {
  width: 320px;
  height: 50px;
  top: 0;
  left: 0;
  background-color: #3c1400;
}

#laptop {
  width: 64px;
  left: 256px;
  top: 1px;
}
#phone {
  width: 26px;
  left: 258px;
  top: 9px;
}
#ears {
  width: 24px;
  left: 8px;
  top: 10px;
}
#tablet {
  width: 44px;
  left: 20px;
  top: 1px;
}



#schirm {
  position: absolute;
  width: 320px;
  height: 50px;
  top: 0;
  left: 0;
  background-color: #3c1400;
  /*background-image: url("bg01.jpg");*/
  background-size: cover;
  opacity: 0;
}