
body, body * {
  vertical-align: baseline;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 9pt;
  font-weight: 700;
  color: #ecac06;
}

.container {
  position: absolute;
  width: 960px;
  height: 640px;
  top: 0;
  left: 0;
  z-index: 100;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
  /*top: 240px;*/
  /*left: 600px;*/
  background-color: #3c1400;
  background-image: url("bg01.jpg");
  background-size: cover;
}

img {
  width: 100%;
  height: auto;
}


.el {
  position: absolute;
  /*width: 60px;*/
  left: 0;
  top: 0;
}

.txt {
  width: 960px;
  left: 0px;
  top: -22px;
}

/* #txt01 {
  width: 184px;
  left: 0px;
  top: 10px;
}

#txt02 {
  width: 184px;
  left: 114px;
  top: 5px;

} */

#txt03 {
  width: 732px;
  left: 112px;
  top: 4px;
}

#txt04 {
  width: 624px;
  left: 164px;
  top: 90px;
}



#bg02 {
  width: 960px;
  height: 640px;
  background-color: #3c1400;
}




#bg03 {
  width: 960px;
  height: 640px;
  top: 0;
  left: 0;
  background-color: #3c1400;
}

#laptop {
  width: 594px;
  left: 162px;
  top: 189px;
}
#phone {
  width: 198px;
  left: 48px;
  top: 312px;
}
#ears {
  width: 138px;
  left: 252px;
  top: 210px;
}
#tablet {
  width: 278px;
  left: 636px;
  top: 286px;
}



#schirm {
  position: absolute;
  width: 960px;
  height: 640px;
  top: 0;
  left: 0;
  background-color: #3c1400;
  /*background-image: url("bg01.jpg");*/
  background-size: cover;
  opacity: 0;
}