
body, body * {
  vertical-align: baseline;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 9pt;
  font-weight: 700;
  color: #ecac06;
}

.container {
  position: absolute;
  width: 1000px;
  height: 120px;
  top: 0;
  left: 0;
  z-index: 100;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
  /*top: 240px;*/
  /*left: 600px;*/
  background-color: #3c1400;
  background-image: url("bg01.jpg");
  background-size: cover;
}

img {
  width: 100%;
  height: auto;
}


.el {
  position: absolute;
  /*width: 60px;*/
  left: 0;
  top: 0;
}


#txt01 {
  width:469px;
  left: 11px;
  top: 23px;
}

#txt02 {
  width:469px;
  left: 305px;
  top: 12px;
}

#txt03 {
  width: 320px;
  left: 154px;
  top: 37px;
}

#txt04 {
  width: 375px;
  left: 469px;
  top: 31px;

}


#legal {
  width: 457px;
  left: 134px;
  top: 41px;
}

#bg02 {
  width: 1000px;
  height: 120px;
  background-color: #3c1400;
}




#bg03 {
  width: 1000px;
  height: 120px;
  top: 0;
  left: 0;
  background-color: #3c1400;
}


#laptop {
  width: 172px;
  left: 852px;
  top: -3px;
}
#phone {
  width: 67px;
  left: 843px;
  top: 15px;
}
#ears {
  width: 62px;
  left: 20px;
  top: 15px;
}
#tablet {
  width: 113px;
  left: 42px;
  top: -2px;
}




#schirm {
  position: absolute;
  width: 1000px;
  height: 120px;
  top: 0;
  left: 0;
  background-color: #3c1400;
  /*background-image: url("bg01.jpg");*/
  background-size: cover;
  opacity: 0;
}