
body, body * {
  vertical-align: baseline;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 9pt;
  font-weight: 700;
  color: #ecac06;
}

.container {
  position: absolute;
  width: 336px;
  height: 280px;
  top: 0;
  left: 0;
  z-index: 100;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
  /*top: 240px;*/
  /*left: 600px;*/
  background-color: #3c1400;
  background-image: url("bg01.jpg");
  background-size: cover;
}

img {
  width: 100%;
  height: auto;
}


.el {
  position: absolute;
  /*width: 60px;*/
  left: 0;
  top: 0;
}

.txt {
  width: 401px;
  left: -20px;
}

/* #txt01 {
  width: 184px;
  left: 0px;
  top: 10px;
}

#txt02 {
  width: 184px;
  left: 114px;
  top: 5px;

} */

#txt03 {
  width: 350px;
  left: -10px;
  top: 1px;
}

#txt04 {
  width: 300px;
  left: 18px;
  top: 40px;
}

#logo {
  width: 78px;
  left: 12px;
  top:66px;
}

#legal {
  top: 345px;
}

#bg02 {
  width: 336px;
  height: 280px;
  background-color: #3c1400;
}




#bg03 {
  width: 336px;
  height: 280px;
  top: 0;
  left: 0;
  background-color: #3c1400;
}

#laptop {
  width: 248px;
  left: 38px;
  top: 82px;
}
#phone {
  width: 77px;
  left: 15px;
  top: 148px;
}
#ears {
  width: 54px;
  left: 75px;
  top: 89px;
}
#tablet {
  width: 102px;
  left: 216px;
  top: 143px;
}



#schirm {
  position: absolute;
  width: 336px;
  height: 280px;
  top: 0;
  left: 0;
  background-color: #3c1400;
  /*background-image: url("bg01.jpg");*/
  background-size: cover;
  opacity: 0;
}