body, body * {
  vertical-align: baseline;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 9pt;
  font-weight: 700;
  color: #ecac06;
}

.container {
  position: absolute;
  width: 640px;
  height: 960px;
  top: 0;
  left: 0;
  z-index: 100;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
  /*top: 240px;*/
  /*left: 600px;*/
  background-color: #3c1400;
  background-image: url("bg01.jpg");
  background-size: cover;
}

img {
  width: 100%;
  height: auto;
}


.el {
  position: absolute;
  /*width: 60px;*/
  left: 0;
  top: 0;
}

.txt {
  width: 632px;
  left: 0px;
}

#txt01 {
  top: 34px;
}

#txt02 {
  top: 100px;

}

#txt03 {
  width: 584px;
  left: 28px;
  top: 26px;
}

#txt04 {
  width: 560px;
  left: 40px;
  top: 100px;
}

#logo {
  width: 304px;
  left: 40px;
  top: 239px;
}



#bg02 {
  width: 640px;
  height: 960px;
  background-color: #3c1400;
}




#bg03 {
  width: 640px;
  height: 960px;
  top: 0;
  left: 0;
  background-color: #3c1400;
}

#laptop {
  width: 594px;
  left: 18px;
  top: 238px;
}

#phone {
  width: 206px;
  left: 68px;
  top: 560px;
}

#ears {
  width: 152px;
  left: 94px;
  top: 208px;
}

#tablet {
  width: 284px;
  left: 324px;
  top: 582px;
}



#schirm {
  position: absolute;
  width: 640px;
  height: 960px;
  top: 0;
  left: 0;
  background-color: #3c1400;
  /*background-image: url("bg01.jpg");*/
  background-size: cover;
  opacity: 0;
}