
body, body * {
  vertical-align: baseline;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 9pt;
  font-weight: 700;
  color: #ecac06;
}

.container {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 0;
  left: 0;
  z-index: 100;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
  /*top: 240px;*/
  /*left: 600px;*/
  background-color: #3c1400;
  background-image: url("bg01.jpg");
  background-size: cover;
}

img {
  width: 100%;
  height: auto;
}


.el {
  position: absolute;
  /*width: 60px;*/
  left: 0;
  top: 0;
}

.txt {
  width: 360px;
  left: -18px;
  top: 8px;
}


#txt03 {
  width: 364px;
  left: -32px;
  top: 4px;
}

#txt04 {
  width: 256px;
  left: 22px;
  top: 47px;
}



#legal {
  top: 345px;
}

#bg02 {
  width: 300px;
  height: 300px;
  background-color: #3c1400;
}




#bg03 {
  width: 300px;
  height: 300px;
  top: 0;
  left: 0;
  background-color: #3c1400;
}

#laptop {
  width: 246px;
  left: 16px;
  top: 85px;
}
#phone {
  width: 77px;
  left: 18px;
  top: 161px;
}
#ears {
  width: 51px;
  left: 61px;
  top: 94px;
}
#tablet {
  width: 99px;
  left: 189px;
  top: 153px;
}



#schirm {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 0;
  left: 0;
  background-color: #3c1400;
  /*background-image: url("bg01.jpg");*/
  background-size: cover;
  opacity: 0;
}