body, body * {
  vertical-align: baseline;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 9pt;
  font-weight: 700;
  color: #ecac06;
}

.container {
  position: absolute;
  width: 240px;
  height: 400px;
  top: 0;
  left: 0;
  z-index: 100;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
  /*top: 240px;*/
  /*left: 600px;*/
  background-color: #3c1400;
  background-image: url("bg01.jpg");
  background-size: cover;
}

img {
  width: 100%;
  height: auto;
}


.el {
  position: absolute;
  /*width: 60px;*/
  left: 0;
  top: 0;
}

.txt {
  width: 240px;
  left: 0px;
}

#txt01 {
  top: 11px;
}

#txt02 {
  top: 39px;

}

#txt03 {
  width: 240px;
  left: 0px;
  top: -28px;
}

#txt04 {
  width: 240px;
  left: 0px;
  top: 40px;
}

#logo {
  width: 143px;
  left: 18px;
  top:82px;
}

#legal {
  top: 354px;
}

#bg02 {
  width: 240px;
  height: 400px;
  background-color: #3c1400;
}




#bg03 {
  width: 240px;
  height: 400px;
  top: 0;
  left: 0;
  background-color: #3c1400;
}

#laptop {
  width: 231px;
  left: 3px;
  top: 132px;
}

#phone {
  width: 84px;
  left: 21px;
  top:241px;
}

#ears {
  width: 58px;
  left: 30px;
  top: 126px;
}

#tablet {
  width: 111px;
  left: 119px;
  top: 254px;
}



#schirm {
  position: absolute;
  width: 240px;
  height: 400px;
  top: 0;
  left: 0;
  background-color: #3c1400;
  /*background-image: url("bg01.jpg");*/
  background-size: cover;
  opacity: 0;
}