
body, body * {
  vertical-align: baseline;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 9pt;
  font-weight: 700;
  color: #ecac06;
}

.container {
  position: absolute;
  width: 728px;
  height: 90px;
  top: 0;
  left: 0;
  z-index: 100;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
  /*top: 240px;*/
  /*left: 600px;*/
  background-color: #3c1400;
  background-image: url("bg01.jpg");
  background-size: cover;
}

img {
  width: 100%;
  height: auto;
}


.el {
  position: absolute;
  /*width: 60px;*/
  left: 0;
  top: 0;
}


#txt01 {
  width:230px;
  left: 4px;
  top: 27px;
}

#txt02 {
  width: 344px;
  left: 212px;
  top: 15px;
}

#txt03 {
  width: 242px;
  left: 121px;
  top: 29px;
}

#txt04 {
  width: 241px;
  left: 355px;
  top: 22px;

}


#legal {
  width: 457px;
  left: 134px;
  top: 41px;
}

#bg02 {
  width: 728px;
  height: 90px;
  background-color: #3c1400;
}




#bg03 {
  width: 728px;
  height: 90px;
  top: 0;
  left: 0;
  background-color: #3c1400;
}

#laptop {
  width: 125px;
  left: 607px;
  top: -2px;
}
#phone {
  width: 49px;
  left: 611px;
  top: 12px;
}
#ears {
  width: 49px;
  left: 14px;
  top: 14px;
}
#tablet {
  width: 82px;
  left: 37px;
  top: -3px;
  transform: rotate(10deg);
}



#schirm {
  position: absolute;
  width: 728px;
  height: 90px;
  top: 0;
  left: 0;
  background-color: #3c1400;
  /*background-image: url("bg01.jpg");*/
  background-size: cover;
  opacity: 0;
}