body, body * {
  vertical-align: baseline;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 9pt;
  font-weight: 700;
  color: #ecac06;
}

.container {
  position: absolute;
  width: 320px;
  height: 480px;
  top: 0;
  left: 0;
  z-index: 100;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
  /*top: 240px;*/
  /*left: 600px;*/
  background-color: #3c1400;
  background-image: url("bg01.jpg");
  background-size: cover;
}

img {
  width: 100%;
  height: auto;
}


.el {
  position: absolute;
  /*width: 60px;*/
  left: 0;
  top: 0;
}

.txt {
  width: 384px;
  left: -19px;
}

#txt01 {
  top: 20px;
}

#txt02 {
  top: 24px;

}

#txt03 {
  width: 360px;
  left: -16px;
  top: 13px;
}

#txt04 {
  width: 300px;
  left: 10px;
  top: 54px;
}

#logo {
  width: 161px;
  left: 20px;
  top: 115px;
}

#legal {
  top: 354px;
}

#bg02 {
  width: 320px;
  height: 480px;
  background-color: #3c1400;
}




#bg03 {
  width: 320px;
  height: 480px;
  top: 0;
  left: 0;
  background-color: #3c1400;
}

#laptop {
  width: 297px;
  left: 9px;
  top: 119px;
}

#phone {
  width: 103px;
  left: 34px;
  top: 280px;
}

#ears {
  width: 76px;
  left: 47px;
  top: 104px;
}

#tablet {
  width: 142px;
  left: 162px;
  top: 291px;
}



#schirm {
  position: absolute;
  width: 320px;
  height: 480px;
  top: 0;
  left: 0;
  background-color: #3c1400;
  /*background-image: url("bg01.jpg");*/
  background-size: cover;
  opacity: 0;
}